[Desktop Entry]
Name=Testserver
Exec=/usr/local/bin/webserver.sh
Comment=Start a webserver
Terminal=false
Icon=/usr/local/bin/webserver.png
Type=Application
